<?xml version="1.0" encoding="UTF-8"?>
<Settings>
    <OverlayButton>
        <ActionPlayPause>No</ActionPlayPause>
        <KeyListener>
            <UpButtons>
                <bAroundUpCarListener>
                    <bAroundUpCarListenerKey1>81</bAroundUpCarListenerKey1>
                    <bAroundUpCarListenerKey2>49</bAroundUpCarListenerKey2>
                </bAroundUpCarListener>
                <bLeftUpCarListener>
                    <bLeftUpCarListenerKey1>87</bLeftUpCarListenerKey1>
                    <bLeftUpCarListenerKey2>49</bLeftUpCarListenerKey2>
                </bLeftUpCarListener>
                <bForwardUpCarListener>
                    <bForwardUpCarListenerKey1>69</bForwardUpCarListenerKey1>
                    <bForwardUpCarListenerKey2>49</bForwardUpCarListenerKey2>
                </bForwardUpCarListener>
                <bRightUpCarListener>
                    <bRightUpCarListenerKey1>82</bRightUpCarListenerKey1>
                    <bRightUpCarListenerKey2>49</bRightUpCarListenerKey2>
                </bRightUpCarListener>
            </UpButtons>
            <RightButtons>
                <bAroundRightCarListener>
                    <bAroundRightCarListenerKey1>81</bAroundRightCarListenerKey1>
                    <bAroundRightCarListenerKey2>50</bAroundRightCarListenerKey2>
                </bAroundRightCarListener>
                <bLeftRightCarListener>
                    <bLeftRightCarListenerKey1>87</bLeftRightCarListenerKey1>
                    <bLeftRightCarListenerKey2>50</bLeftRightCarListenerKey2>
                </bLeftRightCarListener>
                <bForwardRightCarListener>
                    <bForwardRightCarListenerKey1>69</bForwardRightCarListenerKey1>
                    <bForwardRightCarListenerKey2>50</bForwardRightCarListenerKey2>
                </bForwardRightCarListener>
                <bRightRightCarListener>
                    <bRightRightCarListenerKey1>82</bRightRightCarListenerKey1>
                    <bRightRightCarListenerKey2>50</bRightRightCarListenerKey2>
                </bRightRightCarListener>
            </RightButtons>
            <DownButtons>
                <bAroundDownCarListener>
                    <bAroundDownCarListenerKey1>81</bAroundDownCarListenerKey1>
                    <bAroundDownCarListenerKey2>51</bAroundDownCarListenerKey2>
                </bAroundDownCarListener>
                <bLeftDownCarListener>
                    <bLeftDownCarListenerKey1>87</bLeftDownCarListenerKey1>
                    <bLeftDownCarListenerKey2>51</bLeftDownCarListenerKey2>
                </bLeftDownCarListener>
                <bForwardDownCarListener>
                    <bForwardDownCarListenerKey1>69</bForwardDownCarListenerKey1>
                    <bForwardDownCarListenerKey2>51</bForwardDownCarListenerKey2>
                </bForwardDownCarListener>
                <bRightDownCarListener>
                    <bRightDownCarListenerKey1>82</bRightDownCarListenerKey1>
                    <bRightDownCarListenerKey2>51</bRightDownCarListenerKey2>
                </bRightDownCarListener>
            </DownButtons>
            <LeftButtons>
                <bAroundLeftCarListener>
                    <bAroundLeftCarListenerKey1>81</bAroundLeftCarListenerKey1>
                    <bAroundLeftCarListenerKey2>52</bAroundLeftCarListenerKey2>
                </bAroundLeftCarListener>
                <bLeftLeftCarListener>
                    <bLeftLeftCarListenerKey1>87</bLeftLeftCarListenerKey1>
                    <bLeftLeftCarListenerKey2>52</bLeftLeftCarListenerKey2>
                </bLeftLeftCarListener>
                <bForwardLeftCarListener>
                    <bForwardLeftCarListenerKey1>69</bForwardLeftCarListenerKey1>
                    <bForwardLeftCarListenerKey2>52</bForwardLeftCarListenerKey2>
                </bForwardLeftCarListener>
                <bRightLeftCarListener>
                    <bRightLeftCarListenerKey1>82</bRightLeftCarListenerKey1>
                    <bRightLeftCarListenerKey2>52</bRightLeftCarListenerKey2>
                </bRightLeftCarListener>
            </LeftButtons>
        </KeyListener>
    </OverlayButton>
    <GeneralSetting>
       <AutoSave>No</AutoSave>
       <AutoSaveMinutes>10</AutoSaveMinutes>
       <AutoSaveSeconds>0</AutoSaveSeconds>
    </GeneralSetting>
</Settings>